body {

background-color: darkgray;
font-family: helvetica;
text-align: center;
font-style: thin;
color: white;
padding: 60px;

}

p{

	font-size: 10pt;
}

h2{
	font-size: 25pt

}

h3{

	font-size: 20pt; 
}