body {

	background-color: black;
	color: white;
	font-style: bold;
	text-align: center;
	font-family: georgia;
	background-image: url("http://66.media.tumblr.com/620fcdcdec3d60e8d0da6f3b3b9fffe7/tumblr_n1sunecdgu1r47bczo4_1280.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

}

<img :"center"> 


